<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ABC LIBRARY</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />

</head>
<body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>


            </ul>
        </div>
    </nav>

    <h1>BOOK LIST</h1>

    <br>
    <br>


    <section class="page-description">
        <p>This is a test page with basic functionality to add, edit and remove items from a list.</p>


    </section>

    <br>
    <br>

    <div class="book-form" >
        <table class="table table-striped">
            <thead class="thead-dark">


                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>ISBN</th>
                    <th>Actions</th>

                </tr>
                </thead>
                <tbody>

                <tr th:each="book: ${books}">
                    <td th:text = "${book.id}"></td>
                    <td th:text = "${book.title}"></td>
                    <td th:text = "${book.author}"></td>
                    <td th:text = "${book.isbn}"></td>
                    <td>
                        <a class="btn btn-secondary" th:href = "@{/edit-book/{id}(id=${book.id})}">EDIT</a>
                        <a class="btn btn-danger" th:href = "@{/delete-book/{id}(id=${book.id})}" onclick="return confirm('Are you sure you want to delete this book?')">DELETE</a>

                    </td>
                </tr>

            </tbody>

        </table>
        <p class="add-button">
            <a class="btn btn-dark" th:href = "@{/add-book}">Add a new book</a>
        </p>


    </div>

    <br>
    <br>
    <br>

    <div class="footer">
        <p>ABC LIBRARY PAGE</p>
        <p>This page was made by Santiago Cadavid</p>

    </div>


</body>
</html>